html, body {
     margin: 0;
     width: 100%;
     height: 100%;
}

h1 {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-family: Poppins;
     text-transform: uppercase;
     color: #fff;
     text-align: center;
     font-weight: 600;
     font-size: 25px;
     letter-spacing: 33px;
}

h2 {
     position: absolute;
     top: 55%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-family: Poppins;
     text-transform: uppercase;
     color: #fff;
     text-align: center;
     font-weight: 150;
     font-size: 15px;
     letter-spacing: 10px;
}

h3 {
     position: absolute;
     top: 96%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-family: Poppins;
     text-transform: uppercase;
     color: #fff;
     text-align: center;
     font-weight: 600;
     font-size: 11px;
     letter-spacing: 10px;
}

h4 {
     position: absolute;
	      top: 92%;
     left: 50%;
	      transform: translate(-50%, -50%);
     font-family: Poppins;
     text-transform: uppercase;
     color: #fff;
     text-align: center;
     font-weight: 600;
     font-size: 11px;
     letter-spacing: 10px;
}

a {
text-decoration: none;
  color: white;
}

a:hover {
box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
}


button
{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

  height: 5%; width: 100%;

  background-color: #000; /* Green */
  border: none;
  color: red;
     font-family: Poppins;
       font-weight: 950;   
	   text-transform: uppercase;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 80%vw;
     letter-spacing: 0.5vh;
}

button:hover 
{
     letter-spacing: 1.5vh;
  	height: 4%;
	 width: 105%;


box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #fff; /* Green */
  color: black;

         font-weight: 950;
     font-family: Poppins;
     text-transform: uppercase;

  text-align: center;
  text-decoration: none;
  display: inline-block;
}
...


@media only screen and (max-width: 768px) {
     h1 {
          font-size: 12px;
          letter-spacing: 4px;
     }
}
